@{ 
    Layout = null;
}
<link href="/Content/bootstrap.css" rel="stylesheet">
<script src="/Scripts/modernizr-2.8.3.js"></script>
<link rel="stylesheet" href="/Content/bootstrap-datetimepicker.css">

<div class="container">
    <div class="row">
        <div class='col-sm-6'>
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" />
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/Scripts/jquery-3.2.1.js"></script>
<script type="text/javascript" src="https://momentjs.com/downloads/moment.js"></script>
<script src="/Scripts/bootstrap.js"></script>
<script type="text/javascript" src="~/scripts/bootstrap-datetimepicker.js"></script>
<script type="text/javascript">
            $(function () {
                $('#datetimepicker1').datetimepicker({
                    format: 'YYYY-MM-DD',
                });
            });
</script>