@{
    Layout = null;
}

<html>
<head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        /* Always set the map height explicitly to define the size of the div
            * element that contains the map. */
        #map {
            height: 80%;
        }
        /* Optional: Makes the sample page fill the window. */
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #legend {
            font-family: Arial, sans-serif;
            background: #fff;
            padding: 10px;
            margin: 10px;
            border: 3px solid #000;
        }
        #legend h3 {
            margin-top: 0;
        }
        #legend img {
            vertical-align: middle;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Photo Radar</a>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <form>
                    <div class="input-group">
                        <input id="map-search" type="text" class="form-control" placeholder="Enter location...">
                        <span class="input-group-btn">
                            <button id="map-search-button" class="btn btn-secondary" type="button">Search</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <div id="map"></div>
                <div id="legend"><h3>Legend</h3></div>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p class="text-muted"></p>
        </div>
    </footer>

</body>
</html>

<script>var zones = @Html.Raw(Json.Encode(@Model));</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBdOr1wN1QEEeSle4Bsi1MTZhkzjjYijsU&libraries=places&callback=initMap"></script>
<script type="text/javascript" src="~/Scripts/markerclusterer.js"></script>
<script async defer ssrc="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script>
    var markerColors = ['blue', 'green', 'orange', 'paleBlue', 'pink', 'purple', 'red', 'yellow',];
    var locations = [
        {lat:53.74971155,lng:-113.92638551,route:"240",name:"somevet"},
        {lat:53.49776542,lng:-113.84032687,route:"240",name:"somevet"},
        {lat:53.7820786,lng:-113.06159872,route:"240",name:"somevet"},
        {lat:53.36316277,lng:-113.33428798,route:"240",name:"somevet"},
        {lat:53.39497923,lng:-113.72718361,route:"240",name:"somevet"},
        {lat:53.27995529,lng:-113.34873115,route:"240",name:"somevet"},
        {lat:53.6527569,lng:-113.51028512,route:"240",name:"somevet"},
        {lat:53.61123628,lng:-113.21753978,route:"240",name:"somevet"},
        {lat:53.46465449,lng:-112.99066512,route:"240",name:"somevet"},
        {lat:53.29944004,lng:-113.29887675,route:"240",name:"somevet"},
        {lat:53.39896976,lng:-113.06133211,route:"240",name:"somevet"},
        {lat:53.21005672,lng:-113.50490033,route:"240",name:"somevet"},
        {lat:53.71036479,lng:-113.47089876,route:"240",name:"somevet"},
        {lat:53.79742471,lng:-113.53461399,route:"240",name:"somevet"},
        {lat:53.33185442,lng:-113.90522158,route:"240",name:"somevet"},
        {lat:53.57219071,lng:-112.92996495,route:"240",name:"somevet"},
        {lat:53.69631086,lng:-113.22580163,route:"240",name:"somevet"},
        {lat:53.44910238,lng:-113.45941261,route:"240",name:"somevet"},
        {lat:53.72993166,lng:-113.7823896,route:"240",name:"somevet"},
        {lat:53.82485365,lng:-113.27117424,route:"240",name:"somevet"},
        {lat:53.38632151,lng:-113.22911905,route:"240",name:"somevet"},
        {lat:53.80854184,lng:-113.62836845,route:"240",name:"somevet"},
        {lat:53.78690087,lng:-113.2885731,route:"240",name:"somevet"},
        {lat:53.362577,lng:-113.97692991,route:"130",name:"somevet"},
        {lat:53.76171944,lng:-113.93567867,route:"130",name:"somevet"},
        {lat:53.85360065,lng:-113.72746421,route:"240",name:"somevet"},
        {lat:53.45116713,lng:-113.35223216,route:"240",name:"somevet"},
        {lat:53.59550626,lng:-114.0099096,route:"240",name:"somevet"},
        {lat:53.56679876,lng:-113.9363396,route:"130",name:"somevet"},
        {lat:53.52239514,lng:-113.78625198,route:"130",name:"somevet"},
        {lat:53.6172041,lng:-112.97581223,route:"130",name:"somevet"},
        {lat:53.29866763,lng:-113.35031974,route:"130",name:"somevet"},
        {lat:53.2828321,lng:-113.57073883,route:"240",name:"somevet"},
        {lat:53.56075665,lng:-113.32970833,route:"240",name:"somevet"},
        {lat:53.81330875,lng:-113.66824737,route:"240",name:"somevet"},
        {lat:53.73385322,lng:-113.53084693,route:"240",name:"somevet"},
        {lat:53.28444914,lng:-113.91314342,route:"240",name:"somevet"},
        {lat:53.67927816,lng:-113.36759227,route:"130",name:"somevet"},
        {lat:53.65210577,lng:-113.96838928,route:"130",name:"somevet"},
        {lat:53.35009762,lng:-113.49958909,route:"130",name:"somevet"},
        {lat:53.73161324,lng:-113.79320918,route:"130",name:"somevet"},
        {lat:53.48924597,lng:-113.18181339,route:"240",name:"somevet"},
        {lat:53.78672571,lng:-113.36423998,route:"240",name:"somevet"},
        {lat:53.37413693,lng:-112.99778646,route:"240",name:"somevet"},
        {lat:53.81985295,lng:-113.28493021,route:"240",name:"somevet"},
        {lat:53.54305489,lng:-114.06093993,route:"130",name:"somevet"},
        {lat:53.43164841,lng:-112.92693421,route:"130",name:"somevet"},
        {lat:53.84071981,lng:-113.63338732,route:"130",name:"somevet"},
        {lat:53.60150896,lng:-113.46134747,route:"130",name:"somevet"},
        {lat:53.34992712,lng:-113.46935997,route:"240",name:"somevet"},
        {lat:53.58363482,lng:-112.95679722,route:"240",name:"somevet"},
        {lat:53.60322817,lng:-113.47196498,route:"240",name:"somevet"},
        {lat:53.57881965,lng:-114.07953205,route:"240",name:"somevet"},
        {lat:53.88480326,lng:-113.42065622,route:"240",name:"somevet"},
        {lat:53.4513634,lng:-113.78077286,route:"240",name:"somevet"},
        {lat:53.197965,lng:-113.45688089,route:"240",name:"somevet"},
        {lat:53.6851761,lng:-112.98316098,route:"130",name:"somevet"},
        {lat:53.72021111,lng:-113.88713206,route:"130",name:"somevet"},
        {lat:53.36977397,lng:-113.7665108,route:"130",name:"somevet"},
        {lat:53.19359825,lng:-113.39821368,route:"240",name:"somevet"},
        {lat:53.37455277,lng:-113.46731267,route:"240",name:"somevet"},
        {lat:53.33582524,lng:-113.24315101,route:"240",name:"somevet"},
        {lat:53.20305518,lng:-113.47157094,route:"240",name:"somevet"},
        {lat:53.83020648,lng:-113.32392321,route:"240",name:"somevet"},
        {lat:53.48103723,lng:-113.80591317,route:"240",name:"somevet"},
        {lat:53.82545912,lng:-113.3197653,route:"240",name:"somevet"},
        {lat:53.38192799,lng:-113.47760919,route:"240",name:"somevet"},
        {lat:53.81234936,lng:-113.62463543,route:"130",name:"somevet"},
        {lat:53.69984863,lng:-113.7130988,route:"130",name:"somevet"},
        {lat:53.61279766,lng:-114.04747994,route:"130",name:"somevet"},
        {lat:53.65903797,lng:-112.96420062,route:"240",name:"somevet"},
        {lat:53.52476696,lng:-113.01116228,route:"240",name:"somevet"},
        {lat:53.88134687,lng:-113.64793999,route:"240",name:"somevet"},
        {lat:53.55596068,lng:-113.8963606,route:"10",name:"somevet"},
        {lat:53.20050653,lng:-113.55309425,route:"10",name:"somevet"},
        {lat:53.3023653,lng:-113.75757664,route:"240",name:"somevet"},
        {lat:53.70561567,lng:-113.93246706,route:"240",name:"somevet"},
        {lat:53.87820132,lng:-113.66361034,route:"240",name:"somevet"},
        {lat:53.87228635,lng:-113.3890674,route:"240",name:"somevet"},
        {lat:53.59039672,lng:-113.68457048,route:"240",name:"somevet"},
        {lat:53.22103461,lng:-113.70011162,route:"10",name:"somevet"},
        {lat:53.37046408,lng:-113.50759856,route:"10",name:"somevet"},
        {lat:53.48215695,lng:-112.96172099,route:"10",name:"somevet"},
        {lat:53.20745592,lng:-113.37388227,route:"240",name:"somevet"},
        {lat:53.61916961,lng:-113.72541229,route:"240",name:"somevet"},
        {lat:53.53699338,lng:-113.47071529,route:"240",name:"somevet"},
        {lat:53.6695746,lng:-113.32942616,route:"240",name:"somevet"},
        {lat:53.36573841,lng:-113.84720558,route:"10",name:"somevet"},
        {lat:53.66301853,lng:-113.51252789,route:"10",name:"somevet"},
        {lat:53.6647181,lng:-113.58570277,route:"10",name:"somevet"},
        {lat:53.38463218,lng:-113.46009453,route:"240",name:"somevet"},
        {lat:53.3291363,lng:-113.74597863,route:"240",name:"somevet"},
        {lat:53.48642764,lng:-113.376822,route:"240",name:"somevet"},
        {lat:53.65734951,lng:-113.72829558,route:"240",name:"somevet"},
        {lat:53.47982876,lng:-113.19429331,route:"240",name:"somevet"},
        {lat:53.39215847,lng:-112.96674973,route:"10",name:"somevet"},
        {lat:53.5491079,lng:-113.80012225,route:"10",name:"somevet"},
        {lat:53.3604036,lng:-113.0634579,route:"240",name:"somevet"},
        {lat:53.41825686,lng:-112.98698787,route:"240",name:"somevet"},
        {lat:53.58297752,lng:-113.69761976,route:"240",name:"somevet"},

    ];

    // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see the error "The Geolocation service
    // failed.", it means you probably did not give permission for the browser to
    // locate you.
    var map, infoWindow;
    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 53.544, lng: -113.491 },
            zoom: 14,
            mapTypeId: google.maps.MapTypeId.ROADMAP,
        });

        setMarkers(map);
        // Try HTML5 geolocation.
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function (position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
                map.setCenter(pos);
            }, function () {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }

        // Create the search box and link it to the UI element.
        var input = document.getElementById('map-search');
        var searchBox = new google.maps.places.SearchBox(input);

        // Bias the SearchBox results towards current map's viewport.
        map.addListener('bounds_changed', function () {
            searchBox.setBounds(map.getBounds());
        });

        // Listen for the event fired when the user selects a prediction and retrieve
        // more details for that place.
        searchBox.addListener('places_changed', function () {
            var places = searchBox.getPlaces();

            if (places.length == 0) {
                return;
            }

            // For each place, get the icon, name and location.
            var bounds = new google.maps.LatLngBounds();
            places.forEach(function (place) {
                if (!place.geometry) {
                    console.log("Returned place contains no geometry");
                    return;
                }

                if (place.geometry.viewport) {
                    // Only geocodes have viewport.
                    bounds.union(place.geometry.viewport);
                } else {
                    bounds.extend(place.geometry.location);
                }
            });
            map.fitBounds(bounds);
        });
    }

    // Trigger search on button click
    document.getElementById('map-search-button').onclick = function () {

        var input = document.getElementById('map-search');

        google.maps.event.trigger(input, 'focus')
        google.maps.event.trigger(input, 'keydown', {
            keyCode: 13
        });
    };

    function setMarkers(map) {

        var groupBy = function(xs, key) {
            return xs.reduce(function(rv, x) {
                (rv[x[key]] = rv[x[key]] || []).push(x);
                return rv;
            }, {});
        };
        // group by route
        var routeGroups = groupBy(locations, 'route');
        var markerCluster = new MarkerClusterer(map, null, {
            icon: '/images/m',
            maxZoom: 9,
        });

        var markerColorIndex = 0;
        for (var index in routeGroups)
        {
            
            var directionsDisplay = new google.maps.DirectionsRenderer();
            directionsDisplay.setMap(map);
            
            var request = {
                travelMode: google.maps.TravelMode.DRIVING
            };
            var directionsService = new google.maps.DirectionsService();
            var markers = routeGroups[index].map(function (location, i) {
                var contentString = '<div id="content">'+
                    '<div id="siteNotice">'+
                    '</div>'+
                    '<h1 id="firstHeading" class="firstHeading"></h1>'+
                    '<div id="bodyContent">'+
                    '<p><b>' + location.name +'</b></p>'+
                    '<p>Attribution: Uluru, <a href="https://en.wikipedia.org/w/index.php?title=Uluru&oldid=297882194">'+
                    'https://en.wikipedia.org/w/index.php?title=Uluru</a> '+
                    '(last visited June 22, 2009).</p>'+
                    '</div>'+
                    '</div>';
                var markerInfoWindow = new google.maps.InfoWindow({
                    content: contentString
                });
                var z = {
                    lat: parseFloat(location.lat),
                    lng: parseFloat(location.lng),
                };
                var marker = new google.maps.Marker({
                    position: z,
                    label: {
                        text: location.route,
                        color: 'black',
                        fontSize: "8px",
                        fontweight: "bold",
                    },
                    animation: google.maps.Animation.DROP,                    
                    icon: 'http://maps.google.com/mapfiles/ms/icons/' + markerColors[markerColorIndex] + '-dot.png'
                });
                if (i == 0) 
                    request.origin = marker.getPosition();
                else if (i == routeGroups[index].length - 1) 
                    request.destination = marker.getPosition();
                else {
                    if (!request.waypoints) 
                        request.waypoints = [];
                    request.waypoints.push({
                        location: marker.getPosition(),
                        stopover: true
                    });
                }

                marker.addListener('click', function() {
                    markerInfoWindow.open(map, marker);
                });
                //directionsService.route(request, function(result, status) {
                //    if (status == google.maps.DirectionsStatus.OK) {
                //        directionsDisplay.setDirections(result);
                //    }
                //});
                return marker;
            });
            markerCluster.addMarkers(markers, false);
            var legend = document.getElementById('legend');
            var div = document.createElement('div');
            div.innerHTML = '<img src="/content/images/Google Maps Markers/' + markerColors[markerColorIndex] + '_markerA.png"> Route: ' + routeGroups[index][0].route;
            legend.appendChild(div);
            markerColorIndex++;
        }
        map.controls[google.maps.ControlPosition.RIGHT_BOTTOM].push(legend);

    }
    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        infoWindow.open(map);
    }

</script>
